@import url(src/css/fonts.css);
@import url(src/css/home.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #371e0f;
}
header{
    width: 100%;
    position: fixed;
    background: linear-gradient(to right, #96410b, #b66537);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: centurybold;
}
header h1{
    display: flex;
    align-items: center;
    gap: 10px;
}
header h1 img{
    height: 3rem;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: #ffeeba;
    font-family: centurylight;
}
.menu{
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-line{
    width: 100%;
    height: 3px;
    background-color: white;
}
@media (max-width:1000px){
    header{
        font-size: 0.9rem;
    }
    header h1 img{
        height: 3rem;
    }
}